.graph {
	display: block;
	position: relative;
	padding: 10px;
}

.graph svg {
	display: block;
	width: 100%;
	height: 85%;
	max-height: calc(100% - 50px);
}

.graph .data {
	display: none;
}

.graph circle {
	fill: #555;
	transition: 70ms;
}

.graph line {
	stroke: #222;
	transition: 70ms;
}

.graph line.grid {
	stroke: #ddd;
}

.graph button,
.graph .signals {
	display: inline-block;
}

.graph .signals {
	padding: 10px;
}

.graph .signal {
	display: inline-block;
	position: relative;
	font-size: 12px;
	margin: 10px;
	cursor: grab;
}
/*
.graph g.hover circle {
	fill: #ebe41a !important;
}*/

.graph g.hover line {
	stroke: #ebe41a !important;
	stroke-width: 3px;
}

.graph .signal .popup {
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translate(-50%, -100%) scale(0);
	padding: 7px;
	background: var(--primary);
	color: var(--light);
	font-weight: bolder;
	font-size: 10px;
	border-radius: 3px;
	pointer-events: none;
	text-align: center;
	transition: 80ms ease-in-out;
}

.graph .signal .popup:after {
	content: '';
	position: absolute;
	transform: translate(-50%, -50%) rotate(45deg);
	bottom: -5px;
	left: 50%;
	width: 6px;
	height: 6px;
	background: var(--primary);
}

@media (hover:hover) {
	.graph .signal:hover .popup {
		transform: translate(-50%, -100%) scale(1);
	}
}